p,
#my-p {
    color: brown;
}

p + span {
    color: black;
}

p#my-p span {
    color: blue;
}

.nested-ul {
    color: cornflowerblue;
}


/* Attribútum szelektor. */

ol[rel='help'] {
    text-decoration: underline;
}

ol[rel='help']:hover {
    cursor: pointer;
}


/* HTML szerkesztő. */

.editor {
    min-height: 200px;
    min-width: 500px;
    box-shadow: 0 0 5px;
    padding: 10px;
    background-color: hsla(0, 100%, 54%, 0.47);
}

.editor:hover {
    box-shadow: 0 0 10px #0000FF;
}

.my-ul li:nth-child(even) {
    background-color: #e0e0e0;
}

.test-div {
    background-color: burlywood;
    border: solid 1px black;
    height: 100px;
}


/* Lábléc. */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 30px;
    background-color: #3E230F;
    color: white;
}


/* Register form. */

.form-container {
    width: 100%;
    margin: 0 auto 0 auto;
    max-width: 350px;
    float: none;
}

.register-form {
    padding: 15px;
    margin: 30px;
    box-shadow: 0 0 5px;
}

.img-circle {
    max-width: 150px;
}


/* Validálás. */

.form-error-div {
    color: red;
    font-style: italic;
}

.profile-image-holder {
    float: none;
    text-align: center;
}

.profile-image-holder img {
    max-width: 100px;
}

.profile-image-holder img:hover {
    cursor: pointer;
    box-shadow: 0 0 5px blue;
}

.profile-image-holder input[type=file] {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
}


/* Térkép. */

#map {
    width: 640px;
    height: 480px;
    box-shadow: 0 0 5px;
    margin: 0 auto;
}


/* Média. */

.media-handler audio {
    display: none;
}

.media-handler span.inactive,
.media-handler span.active {
    display: none;
}

.media-handler button.inactive span.inactive,
.media-handler button.active span.active {
    display: inline;
}